<bl-loading [status]="data.newDataStatus | async">
    <div *ngIf="job">
        <md-card class="overview">
            <md-card-title-group style="margin: 0px;">
                <div style="align-items:center;">
                    <bl-refresh-btn [refresh]="refresh"></bl-refresh-btn>
                </div>
                <!--<div style="margin-left:12px; margin-right:auto;">-->
                <div style="margin-left:0px; margin-right:auto;">
                    <md-card-title>{{decorator.id}}</md-card-title>
                    <!--<md-card-subtitle><i class="fa" [ngClass]="decorator.stateIcon"></i> {{decorator.state}}</md-card-subtitle>-->
                    <md-card-subtitle><span style="font-weight: bold; color:#36719a"><i class="fa" [ngClass]="decorator.stateIcon"></i> {{decorator.state}}</span> on pool {{decorator.executionInfo.poolId}}</md-card-subtitle>
                </div>
            </md-card-title-group>
            <md-card-content>
                <!--<p>Pool: {{decorator.executionInfo.poolId}}</p>
                <p>Start time: {{decorator.executionInfo.startTime}}</p>
                <p>End time: {{decorator.executionInfo.endTime}}</p>-->
                <div
                    style="display: inline-flex">
                    <md-progress-bar
                        style="width:320px;margin: auto 8 auto 0"
                        mode="buffer"
                        [value]=completedTasksPercent
                        [bufferValue]=runningTasksPercent>
                    </md-progress-bar>
                    <i class="fa fa-dot-circle-o" style="margin: 0 4"></i> {{activeTasks}} Active
                    <i class="fa fa-circle" style="margin: 0 4"></i> {{runningTasks}} Running
                    <i class="fa fa-check-circle" style="margin: 0 4"></i> {{completedTasks}} Completed
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <button md-raised-button class="primary md-primary" style="font-weight:400;padding:0 30"
                    (click)="resizePool()">
                    Scale pool
                </button>
                <button md-raised-button [mdMenuTriggerFor]="stopMenu" style="font-weight:400">
                    Stop <i class="fa fa-caret-down"></i>
                </button>
                <md-menu #stopMenu="mdMenu">
                    <bl-terminate-button [entity]="job" (click)="terminateJob()"></bl-terminate-button>
                    <bl-delete-button [entity]="job" (click)="deleteJob()"></bl-delete-button>
                    <bl-disable-button [job]="job" (click)="disableJob()"></bl-disable-button>
                </md-menu>
                <button md-raised-button [mdMenuTriggerFor]="settingsMenu" style="font-weight:400;padding:0 30">
                    <i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i>
                </button>
                <md-menu #settingsMenu="mdMenu">
                    <bl-add-task-button title="Add task" [job]="job" (click)="addTask()"></bl-add-task-button>
                    <bl-enable-button [job]="job" (click)="enableJob()"></bl-enable-button>
                    <bl-clone-button (click)="cloneJob()"></bl-clone-button>
                </md-menu>
                <!--<bl-add-task-button title="Add task" [job]="job" (click)="addTask()"></bl-add-task-button>
                <bl-terminate-button [entity]="job" (click)="terminateJob()"></bl-terminate-button>
                <bl-delete-button [entity]="job" (click)="deleteJob()"></bl-delete-button>
                <bl-disable-button [job]="job" (click)="disableJob()"></bl-disable-button>
                <bl-enable-button [job]="job" (click)="enableJob()"></bl-enable-button>
                <bl-clone-button (click)="cloneJob()"></bl-clone-button>-->
            </md-card-actions>
        </md-card>
        <bl-job-error-display [job]="job"></bl-job-error-display>
        <md-card class="details">
            <bl-tab-group>
                <bl-tab key="tasks">
                    <bl-tab-label>Tasks</bl-tab-label>
                    <bl-entity-details-list #listWrapper [refresh]="list.refresh" [baseLink]="['/jobs', job.id, 'tasks']" [loadMore]="list.loadMore" [filterPlaceholder]="filterPlaceholderText">
                        <bl-task-list [jobId]="job.id" [filter]="listWrapper.filter" [quickList]="false" #list [manualLoading]="true"></bl-task-list>
                    </bl-entity-details-list>
                </bl-tab>
                <bl-tab key="configuration">
                    <bl-tab-label>Configuration</bl-tab-label>
                    <bl-job-properties [job]="job"></bl-job-properties>
                    <!--<div>
                        <bl-job-environment-settings [job]="job"></bl-job-environment-settings>
                    </div>
                    <div>
                        <bl-job-metadata [job]="job"></bl-job-metadata>
                    </div>-->
                </bl-tab>
            </bl-tab-group>
        </md-card>
    </div>
</bl-loading>
